@use "variables" as v;
@use "mixins" as m;

.deck-of-cards-modal {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 15px;
	background-color: rgba(0,0,0,0.36);
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;

	&[data-open="true"] {
		display: flex;
	}
	
	&__container {
		background-color: #d7f6da;
		width: 90%;
		height: 100%;
		border-radius: 25px 25px 25px 25px;
		box-shadow: 0 3px 6px -4px rgba(0,0,0,.12),0 6px 16px 0 rgba(0,0,0,.08),0 9px 28px 8px rgba(0,0,0,.05);
		padding: 15px 25px 15px 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		overflow-y: hidden;
		position: relative;

		@include m.respond-to("lg") {
			width: 95%;
		}
	}

	&__header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 34px;
		font-weight: 700;

		@include m.respond-to("md") {
			font-size: 24px;
		}

		@include m.respond-to("sm") {
			font-size: 20px;
		}
	}

	&__button_close {
		position: absolute;
		right: 45px;
		font-size: 20px;
		width: 40px;
		height: 40px;
		text-align: center;
		vertical-align: middle;
		color: white;
		background-color: black;
		text-decoration: none;
		border: none;
		border: 1px solid v.$main;
		padding: 5px;
		border-radius: 100%;
		cursor: pointer;
		transition: ease 0.6s;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			width: 42px;
			height: 42px;
		}

		@include m.respond-to("md") {
			position: unset;
			margin-left: 10px;
		}
	}

	&__scroll-wrapper {
		overflow-y: auto;
	}

	&__decks-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		
		div {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			max-width: 400px;
			margin: 20px 10px 0px 10px;
			background-color: white;
			padding: 20px;
			border-radius: 25px;
			flex: 1 auto;
			
			@include m.respond-to("sm") {
				padding: 20px 10px;
			}
		}
		
		img {
			max-width: 250px;
			width: 100%;
			height: auto;
		}
		
		p {
			margin-top: 20px;
			font-size: 18px;
			text-align: left;
			font-family: Inter-Regular, sans-serif;
			max-width: 300px;
			margin-bottom: 25px;
			
			@include m.respond-to("sm") {
				font-size: 16px;
			}
		}
		
		button {
			margin-top: auto;
			font-size: 18px;
			color: white;
			background-color: black;
			text-decoration: none;
			border: none;
			border: 1px solid v.$main;
			padding: 5px 35px;
			border-radius: 30px;
			cursor: pointer;
			transition: ease 0.6s;
			
			&:hover {
				transform: scale(1.05);
			}
		}
	}
}

.cards-desk {
	width: 100%;
	background-image: url("https://arttherapyshopbydaniela.github.io/Service-MAC/dist/img/chalkboard.jpg");
	border-radius: 15px;
	background-repeat: repeat-x;
	background-size: cover;
	padding: 15px;
	position: relative;

	.fullscreen-toggle-button {
		display: none;
		position: absolute;
		bottom: 40px;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border: 1px solid v.$main;
		padding: 5px 12px;
		border-radius: 11px;
		background-color: v.$white-color;
		transition: ease 0.5s;
		opacity: 0.45;
		left: 50%;
		transform: translateX(-50%);

		@include m.respond-to("sm") {
			width: 200px;
			bottom: 30px;
		}

		&.show {
			display: flex;
		}

		&, > * {
			cursor: pointer;
		}

		&:hover {
			opacity: 1;
			transform: translateX(-50%) scale(1.05);
		}

		button {
			font-size: 20px;
			color: v.$main;
			background-color: inherit;
			text-decoration: none;
			border: none;
		}
	
		svg {
			color: v.$main;
			height: 25px;
			transform: rotateX(180deg) translateY(2px);
		}
	}
	
	&__container {
		display: flex;
		justify-content: left;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: scroll;
		flex-wrap: nowrap;
		box-sizing: border-box;
		min-height: 245px;
		padding: 20px 15px 20px 15px;

		&.fullscreen {
			min-height: 600px;
			height: calc(100vh - 50px);
			max-height: 1000px;
			// min-width: 600px;
			// width: 100%;
		}

		div {
			box-sizing: border-box;
			width: 150px;
			height: min-content;
			padding: 10px;
			border-radius: 10px;
			margin: 0px 5px;
			background-color: white;
			position: relative;
			transition: ease-out 1s;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		span {
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 130px;
			height: 190px;
			border-radius: 3px;
			overflow: hidden;
		}
	}

}

.panel {
	margin-top: 20px;
	width: 100%;
	border-radius: 5px;
	padding: 15px;
	background-image: url("https://arttherapyshopbydaniela.github.io/Service-MAC/dist/img/chalkboard.jpg");
	background-repeat: repeat-x;
	background-size: cover;

	
	&__action {
		display: flex;
		justify-content: center;
		background-color: rgba(255,255,255,0.2);
		padding: 25px 15px;
		border-radius: 4px;
		flex-wrap: nowrap;

		@include m.respond-to("lg") {
			flex-direction: column;
			align-items: center;
		}

		div {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			border: 1px solid v.$main;
			padding: 5px 12px;
			border-radius: 11px;
			background-color: v.$white-color;
			margin-right: 15px;
			transition: ease 0.5s;

			&.hide {
				display: none;
			}
			
			@include m.respond-to("lg") {
				margin: 6px 5px;
				max-width: 600px;
				width: 100%;
			}
			
			&, > * {
				cursor: pointer;
			}
	
			&:hover {
				transform: scale(1.05);
			}
		}
	
		button {
			font-size: 20px;
			color: v.$main;
			background-color: inherit;
			text-decoration: none;
			border: none;
		}
	
		svg {
			color: v.$main;
			height: 25px;
		}
	}

	&__cards-line {
		width: 100%;
		padding: 35px 0px 20px 0px;
		display: flex;
		justify-content: left;
		flex-direction: row;
		overflow-y: hidden;
		overflow-x: scroll;
		flex-wrap: nowrap;
		min-height: 245px;
		box-sizing: border-box;
		perspective: 900px;

		div {
			box-sizing: border-box;
			width: 150px;
			padding: 10px;
			border-radius: 10px;
			margin: 0px 5px;
			background-color: white;
			position: relative;
			transform-style: preserve-3d;
			transition: ease-out 1s;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			&::before {
				backface-visibility: hidden;
				cursor: pointer;
			}

			&::before {
				content: "";
				display: inline;
				width: 100%;
				height: 100%;
				transform-style: preserve-3d;
				background-image: url("https://arttherapyshopbydaniela.github.io/Service-MAC/dist/img/card-patern.jpg");
				background-repeat: repeat;
				background-position: center;
				background-size: 200px;
				position: absolute;
				left: 0px;
				top: 0px;
				border-radius: 10px;
				transform: rotateY(180deg);
			}
		}

		div[data-flip="true"] {
			transform: rotateY(180deg);
		}

		span {
			display: block;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 130px;
			height: 190px;
			border-radius: 3px;
			overflow: hidden;
		}
	}
}
